{{#extends "base"}}

{{#block "content"}}
<h1>Shopping Cart</h1>
<div class="row">
    {{#each cartItems}}
    <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
        <div class="card">
            <div class="card-body">
                <div class="card-title" style="padding: 10px;">
                    <h3 style="color:rgb(140, 192, 88)">{{this.product.name}}</h3>
                </div>
                <ul style="padding-left: 20px;">
                    <li>Category: {{this.product.category.name}}</li>
                    <li>Cost: {{this.product.cost}}</li>
                    <form method="POST" action="/cart/{{this.product.id}}/updateQuantity">
                        <li>
                            Quantity: <input style="width:50px" type="text" value="{{this.quantity}}"
                                name="newQuantity" />
                            <input type="submit" value="Update" class="btn btn-primary btn-sm mb-1" />
                            {{!-- csrfToken --}}
                            <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
                        </li>
                    </form>
                </ul>
                <a href="/cart/{{this.product.id}}/remove" class="btn btn-danger btn-sm mt-3">Remove</a>
            </div>
        </div>
    </div>

    {{/each}}

</div>
<h3>Ready to checkout?</h3>
<a href="/checkout" class="btn btn-outline-success d-flex justify-content-center align-items-center"
    style="max-width: 120px; height: 40px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2"
        viewBox="0 0 16 16">
        <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
    </svg><span style="display: inline-block; width: 10px;"></span>
    Checkout
</a>

{{/block}}

{{/extends}}