{{#extends "base"}}

{{#block "content"}}
<h1>All Products</h1>

<table class="table">
    <thead>
        <th>
            Product ID
        </th>
        <th>
            Name
        </th>
        <th>
            Cost
        </th>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Category
        </th>
        <th>
            Tags
        </th>
        <th></th>
    </thead>
    {{#each products}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.name}}
        </td>
        <td>
            {{this.cost}}
        </td>
        <td>
            {{this.description}}
        </td>
        <td>
            {{this.quantity}}
        </td>
        <td>
            {{this.category.name}}
        </td>
        <td>
            {{#each this.tags}}
            <label class="badge bg-primary">
                {{this.name}}
            </label>
            {{/each}}
        </td>
        <td>
            <a href="/products/update-product/{{this.id}}" class="btn btn-primary">Update</a>
             <a href="/products/delete-product/{{this.id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>

{{/block}}

{{/extends}}