{{#extends "base"}}

{{#block "content"}}
<h1>Updating {{product.name}}</h1>
<form method="POST">
    {{{form}}}
    {{#if product.image_url}}
    <img src="{{product.image_url}}" id="uploaded_image" />
    {{else}}
    <img src="" style="display:none" id="uploaded_image" />
    {{/if}}

    {{!-- CSRF Token --}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <a href="#" class="btn btn-primary" id="upload_widget">Upload image</a>
    <input type="submit" class="btn btn-dark mt-3" value="Update" />

</form>

{{/block}}

{{#block "js"}}

{{!-- 1. axios --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>

{{!-- 2. cloudinary widget --}}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

{{!-- 3. script for uploading --}}
<script>
    // function to get a signature from Express application
    async function generateSignature(callback, params_to_sign) {
        const response = await axios.get('/cloudinary/sign', {
            params: {
                params_to_sign
            }
        });
        // response.data will contain the signature from our Express route
        callback(response.data);
    }

    // create the Upload widget
    const widget = cloudinary.createUploadWidget({
        cloudName: "{{cloudinaryName}}",
        apiKey: "{{cloudinaryApiKey}}",
        uploadPreset: "{{cloudinaryPreset}}",
        uploadSignature: generateSignature
    }, function (err, result) {
        if (!err && result && result.event == "success") {
            document.querySelector("#id_image_url").value = result.info.url;
            const uploadedImage = document.querySelector("#uploaded_image");
            uploadedImage.style.display = "block";
            uploadedImage.src = result.info.thumbnail_url;
        }
    })

    document.querySelector("#upload_widget")
        .addEventListener("click", function () {
            widget.open();
        })
</script>

{{/block}}

{{/extends}}